<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.6, maximum-scale=2.0, user-scalable=yes"/>
        <meta name="robots" content="noindex, follow">
        <link rel="stylesheet" type="text/css" href="/static/basic.css"  />
        <!--
        <script src="analyzer.js" type="module" async></script>
        -->
        <script src="/static/analyzer.js" async></script>
        <title>CSP recording target - Estada.ch</title>
        <link rel="icon" href="/static/logo.svg" sizes="any" type="image/svg+xml">
        <link rel="shortcut icon" href="/static/logo.svg">
        <link rel="apple-touch-icon" href="/static/logo.svg">
    </head>
    <body class="centering">
        <section>
            <h1>CSP recording target</h1>
            <h2>by <a href="https://estada.ch">Stefan Schindler</a></h2>
            <div id="customer_panel">{{ customer_panel }}</div>
            <p id="table">
                Setting up ... (requires Firefox 72 or newer)
            </p>
            <footer>Server Version: {{ server_version }}</footer>
        </section>
    </body>
</html>
