@import url("reset.css");

@font-face { font-family: NimbusRoman; src: url('NimbusRoman-Regular.ttf'); }
@font-face { font-family: FiraCode; src: url('FiraCode-Regular.woff2'); }

html, body { color: #000; background: #999 linear-gradient(#e66465, #9198e5); min-height: 100vh; font-family: NimbusRoman serif; }

section { min-margin: 1rem; padding: 0.3rem; padding-bottom: 1.5rem; max-width: 95vw; background: #eee linear-gradient(#fff, #eee); box-shadow: 12px 12px 2px 1px rgba(0, 0, 42, .2); }

h1, h2, h3 { margin-top: 1em; margin-bottom: 0.3em; font-weight: 600; }
h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }

a { color: rgb(0, 102, 204); }
bold { font-weight: 600; }

table thead { font-weight: 600; border-bottom: 1px solid #333; }
table th, table td { border-left: 1px solid #333; max-width: 22vw; padding: 0.2rem; }
table tr:nth-child(2n) { background: rgba(0, 0, 0, 0.1); }

#status-bar { margin: 1rem; }

pre { font-family: FiraCode; white-space: pre-wrap; color: #333; }
pre b { font-weight: 900; text-decoration: underline; color: #000; }

.centering { display: flex; justify-content: center; align-items: center; }

.hidden { display: none; }

#modal-anchor { position: relative; }
#modal-box { position: absolute; background: #ffef00; }
#modal-box h3 { margin: 0px; }
#modal-box pre { margin: 0.3rem; }

footer { margin-top: 0.5em; border-top: 1px solid #666; padding: 0.2rem 0; font-size: 0.8rem; }